%h1 {
  font-family: $font-heading;
  font-weight: 700;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

%container {
  max-width: $bp-desktop;
  margin: 0 auto;
  padding: 0 20px;

  @include respond-to(tablet) {
    padding: 0 40px;
  }
}
